<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.customviewproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomViewProject">
        <!--        <activity android:name=".MainActivity">-->
        <activity android:name=".e.e3.E3Activity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".a.activity.A1Activity" />
        <activity android:name=".a.activity.A2Activity" />
        <activity android:name=".a.activity.A3Activity" />
        <activity android:name=".a.activity.A0Activity" />
        <activity android:name=".a.activity.A4Activity" />
        <activity android:name=".a.activity.A5Activity" />
        <activity android:name=".a.activity.A6Activity" />
        <activity android:name=".a.activity.A7Activity" />
        <activity android:name=".a.AActivity" />

        <activity android:name=".b.activity.B20Activity" />
        <activity android:name=".b.activity.B21Activity" />
        <activity android:name=".b.activity.B22Activity" />
        <activity android:name=".b.activity.B23Activity" />
        <activity android:name=".b.activity.B2Activity" />
        <activity android:name=".b.activity.B24Activity" />
        <activity android:name=".c.activity.C1Activity" />
        <activity android:name=".c.activity.C2Activity" />
        <activity android:name=".base.BaseTabActivityImpl" />
        <activity android:name=".c.activity.C3Activity" />
        <activity android:name=".c.activity.C3BlogActivity" />
        <activity android:name=".base.BaseLayoutActivity" />
        <activity android:name=".c.CActivity" />
        <activity android:name=".c.view.c5.C5Activity" />
        <activity android:name=".c.activity.C4Activity" />
        <activity android:name=".b.activity.B3Activity" />
        <activity android:name=".b.activity.B5Activity" />
        <activity android:name=".b.activity.B1Activity" />
        <activity android:name=".b.BActivity" />
        <activity android:name=".d.activity.D1Activity" />
        <activity android:name=".d.activity.D2Activity" />
        <activity android:name=".d.activity.D3Activity" />
        <activity android:name=".d.activity.D3BlogActivity" />
        <activity android:name=".d.DActivity" />
        <activity android:name=".b.activity.B7Activity" />
        <activity android:name=".e.e1.E1Activity" />
        <activity android:name=".e.e1_blog.E1BlogActivity" />
        <activity android:name=".e.EActivity" />
        <activity android:name=".e.e2.E2Activity" />


    </application>
</manifest>